.detailContent {
    display: grid;
    margin-top: 50px;
    height: 400px;
    grid-template-columns: 20% 20% 5% 20% 35%;
}

.item1 {
    position: relative;
    grid-row-start: 1;
    grid-row-end: 7;
    grid-column-start: 2;
    grid-column-end: 3;
}

.item1 img {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 150%;
    height: auto;
}

.item2 {
    text-align: center;
    grid-row-start: 3;
    grid-row-end: 7;
    grid-column-start: 4;
    grid-column-end: 5;
    font-size: x-large;
    font-weight: bold;
}

.item2 div {
    margin-top: 5px;
}

.left_arrow {
    position: absolute;
    width: 2%;
    height: auto;
    margin-left: 10%;
    margin-top: 300px;
}

.left_arrow:hover {
    cursor: pointer;
}

.right_arrow {
    position: absolute;
    width: 2%;
    height: auto;
    margin-left: 50%;
    margin-top: 300px;
}

.right_arrow:hover {
    cursor: pointer;
}