.header {
  background-color:#283238;
  height: 120px;
  width: 100%;
}

.login {
  position: absolute;
  right: 30px;
  top: 60px;
}

.searchHeader img {
  float: left;
  scale: 70%;
}

.navbar {
  display: grid;
  grid-template-columns: 16.67% 16.67% 16.67% 16.67% 16.67% 16.67%;
  grid-gap: 0px;
  background-color: #e45551;
  height: 100px;
  width: 100%;
}

.navbar_item1 {
  text-align: center;
  grid-column: 2/3;
}

.navbar_item2 {
  text-align: center;
  grid-column: 3/4;
}

.navbar_item3 {
  text-align: center;
  grid-column: 4/5;
}

.navbar_item4 {
  text-align: center;
  grid-column: 5/6;
}

.navbar_text {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  color: white;
}

body, html {
  margin:0;
  height:100vh;
}

#parent {
  background-image: url("https://assets.pokemon.com//assets/cms2/img/misc/virtual-backgrounds/sword-shield/pokemon-in-the-wild.png");
  width:100%;
  height:100vh; 
  box-sizing:border-box;
}