.header {
  background-color:#283238;
  height: 120px;
  width: 100%;
}

.searchHeader img {
  float: left;
  scale: 70%;
}

.navbar {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-gap: 0px;
  background-color: #e45551;
  height: 100px;
  width: 100%;
}

.navbar_item1 {
  text-align: center;
  grid-column: 2/3;
}

.navbar_item2 {
  text-align: center;
  grid-column: 3/4;
}

.navbar_text {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  color: white;
}