.searchForm {
  display: block;
  margin-top: 30px;
  margin-right: auto;
  margin-left: auto;
}

.sortForm {
  display: block;
  margin-top: 10px;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}

.sortForm select {
  margin-left: 10px;
}

.sortText {
  display: inline-block;
}

.searchContent {
  position: relative;
  display: flex;
  width: 100%;
  margin-top: 10px;
  flex-wrap: wrap;
  box-sizing: border-box;
  margin-left: 40px;
  gap: 10px 10px;
}

.searchElement {
  position: relative;
}

.searchElement img {
  background-color: gray;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.searchFont {
  text-align: center;
  background-color: pink;
  color: white;
  bottom: 5px;
  left: 10px
}